.header-top {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: #bcbcbc;
}
.header-top:after,
.header-top:before {
  content: "";
  display: table;
}
.header-top:after {
  clear: both;
}
